.left-bg {
    height: 100%;
    position: relative;
}

.blue-planet {
    width: 15%;
    margin: 100px 0 0 3%;
    position: fixed;
}

.pink-cloud {
    width: 18%;
    position: fixed;
    bottom: 0;
}