<div class="modal-backdrop" (click)="close()"></div>
<div class="modal-content">
  <div class="flex justify-content-between">
    <h2>Publier une actualité : </h2>
    <button class="close-button" (click)="close()" title="Retour">
      <img src="assets\icons\close-black.png" class="close-button-icon" alt="fermer la fenetre de publication de nouvelles">
    </button>
  </div>

  <form [formGroup]="newsForm" (ngSubmit)="submitNews()" class="flex flex-column">
    <div class="flex flex-column">
      <label for="news_text" class="mb-2 text-xl">Votre message :</label>
      <textarea id="news_text" formControlName="news_text" required class="text-xl"></textarea>
    </div>
    <button class="global-button" type="submit" [disabled]="newsForm.invalid">Publier</button>
  </form>
</div>