<h2>Pour plus d'informations sur Systeme Sco-Laire</h2>

<!-- Who are we page -->
<p routerLink="/who-we-are" class="legalPageButton cursor-pointer">Qui sommes nous</p>

<!-- legal pages -->
<p routerLink="/privacy-policy" class="legalPageButton cursor-pointer">Politique de confidentialité</p>
<p routerLink="/service-terms" class="legalPageButton cursor-pointer">Conditions d'utilisation</p>
<p routerLink="/cookie-policy" class="legalPageButton cursor-pointer">Politique relative aux cookies</p>
<p routerLink="/copyrights-policy" class="legalPageButton cursor-pointer">Droits d'auteur et propriété intellectuelle</p>
<p routerLink="/privacy-policy" class="legalPageButton cursor-pointer">Clause de non-responsabilité</p>
<p routerLink="/unsubscribe" class="legalPageButton cursor-pointer">Conditions de désinscription</p>
<p routerLink="/contact" class="legalPageButton cursor-pointer">Nous contacter</p>