.right-bg {
    height: 100%;
    position: relative;
}

.red-meteor {
    width: 15%;
    margin: 40px 10% 0 0;
    position: fixed;
}

.pink-cloud {
    width: 18%;
    position: fixed;
    bottom: 0;
}