<div class="title-container flex align-items-center">
    <img routerLink="/legal-pages" title="retour à la page contact et légalité" src="assets\icons\turn-back.png" alt="retour à la page contact et légalité">
    <h1>Droits d'auteur et propriété intellectuelle</h1>
</div>

<div class="container">
    <p>Le contenu affiché sur Systeme Sco-laire, y compris mais sans s'y limiter, le texte, les graphiques, les logos, les images, les clips audio, les téléchargements numériques et les données compilées, est la propriété de Systeme Sco-laire.co ou de ses fournisseurs de contenu et est protégé par les lois sur les droits d'auteur et autres lois sur la propriété intellectuelle.
        Utilisation du contenu
        Vous êtes autorisé à accéder au contenu de Systeme Sco-laire uniquement pour votre usage personnel et non commercial. Vous ne pouvez pas copier, reproduire, distribuer, publier, afficher, modifier ou transmettre tout contenu sans l'autorisation préalable écrite de Systeme Sco-laire.co.
        Droits réservés
        Tous les droits qui ne sont pas expressément accordés dans cette déclaration sont réservés. Toute utilisation non autorisée du contenu constitue une violation des lois sur les droits d'auteur et autres lois sur la propriété intellectuelle, et peut entraîner des sanctions civiles et pénales.
        Marques commerciales
        Les marques commerciales, logos et noms de produits affichés sur Systeme Sco-laire sont la propriété de leurs propriétaires respectifs. L'utilisation de ces marques sans l'autorisation préalable écrite du propriétaire est strictement interdite.
        Notification de violation des droits d'auteur
        Si vous pensez que du contenu affiché sur Systeme Sco-laire viole vos droits d'auteur, veuillez nous contacter à l'adresse suivante : john.doe@gmail.. Veuillez inclure les détails de votre réclamation et nous ferons tout notre possible pour résoudre le problème dans les meilleurs délais. </p>
</div>