.desktop-header {
    width: 64%;
    height: 75px;
    margin: auto;
    color: white;
    background: linear-gradient(90deg, rgba(177,0,135,1) 0%, rgba(122,47,245,1) 100%);
    border-radius: 0 0 50% 50%;
    position: fixed;
}

.phone-deconection {
    display: none;
}

.phone-nav {
    cursor: pointer;
    display: none;
}

h2 {
    margin: 10px 20px;
    cursor: pointer;
}

h2:hover {
    text-decoration: underline;
}

nav {
    width: 400px;
    margin-right: 10px;
    padding-top: 5px;
}

img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

img:hover {
    padding: 5px;
}

@media (max-width: 850px){
    header {
        width: 100% !important;
        height: 100px !important;
        flex-direction: column;
        border-radius: 0 !important;
        position: absolute;
        left: 0;
    }

    nav {
        width: 100%;
        align-items: center;
        padding: 0;
    }

    .phone-nav {
        display: block;
    }

    img {
        width: 25px;
        height: 25px;
    }

    .info {
        margin: 0 !important;
    }

    .desktop-nav-icons {
        display: none;
    }

    .phone-deconection {
        display: block;
        margin: 15px 6% 0 0;
    }

    .profile-nav {
        width: 100%;
        justify-content: space-between;
    }
}