<div class="title-container flex align-items-center">
    <img routerLink="/legal-pages" title="retour à la page contact et légalité" src="assets\icons\turn-back.png"
        alt="retour à la page contact et légalité">
    <h1>Conditions de désinscription</h1>
</div>

<div class="container">
    <p>Veuillez lire attentivement ces Conditions d'utilisation ("Conditions") avant d'utiliser Systeme Sco-laire (le
        "Site") exploité par Systeme Sco-laire.co.
        En accédant ou en utilisant le Site, vous acceptez d'être lié par ces Conditions. Si vous n'acceptez pas toutes
        les conditions et modalités de cette entente, vous ne devez pas accéder au Site ni l'utiliser.
        Compte utilisateur
        Lorsque vous créez un compte sur notre Site, vous êtes responsable de maintenir la confidentialité de votre
        compte et de votre mot de passe, ainsi que de restreindre l'accès à votre ordinateur. Vous acceptez la
        responsabilité de toutes les activités qui se produisent sous votre compte ou votre mot de passe.
        Contenu utilisateur
        En utilisant notre Site, vous acceptez de ne pas publier de contenu qui est :
        Diffamatoire, offensant ou en violation des droits d'autrui
        Obscène, frauduleux, trompeur ou illégal
        En violation des droits de propriété intellectuelle de tiers
        Nous nous réservons le droit de supprimer tout contenu utilisateur qui enfreint ces conditions, ainsi que de
        suspendre ou de résilier les comptes des utilisateurs concernés.
        Propriété intellectuelle
        Le contenu affiché sur ce Site est protégé par les lois sur la propriété intellectuelle. Vous acceptez de
        respecter tous les droits d'auteur et autres droits de propriété intellectuelle relatifs au contenu que vous
        accédez via le Site.
        Limitation de responsabilité
        Nous nous efforçons de maintenir le Site disponible et sécurisé, mais nous ne pouvons garantir son
        fonctionnement ininterrompu ou exempt d'erreurs. En aucun cas, nous ne serons responsables des dommages directs,
        indirects, spéciaux, consécutifs ou punitifs résultant de votre utilisation ou de votre incapacité à utiliser le
        Site.
        Modifications des Conditions
        Nous nous réservons le droit de modifier ces Conditions à tout moment. Les modifications prendront effet
        immédiatement après leur publication sur cette page. En continuant d'utiliser le Site après de telles
        modifications, vous acceptez d'être lié par les Conditions modifiées.
        Droit applicable
        Ces Conditions d'utilisation sont régies et interprétées conformément aux lois en vigueur en France. Tout litige découlant de ces Conditions sera soumis à la compétence exclusive des
        tribunaux de la justice Française.
        Contactez-nous
        Si vous avez des questions concernant ces Conditions d'utilisation, veuillez nous contacter à l'adresse suivante
        : john.doe@gmail.
    </p>
</div>