<div class="title-container flex align-items-center">
    <img routerLink="/legal-pages" title="retour à la page contact et légalité" src="assets\icons\turn-back.png"
        alt="retour à la page contact et légalité">
    <h1>Conditions de désinscription</h1>
</div>

<div class="container">
    <p>Vous pouvez choisir de supprimer votre compte sur Systeme Sco-laire à tout moment, conformément aux conditions
        suivantes :
        Demande de désinscription :
        Pour demander la suppression de votre compte, veuillez vous rendre sur votre page profil et cliquez sur le lien
        "Se désinscrire"

        Confirmation de désinscription : Après réception de votre demande, nous vous enverrons une confirmation de
        désinscription par e-mail. Veuillez suivre les instructions fournies dans cet e-mail pour confirmer votre
        demande de désinscription.
        Conséquences de la désinscription : Une fois votre compte supprimé, toutes les informations personnelles
        associées à votre compte seront effacées de nos bases de données. Veuillez noter que la suppression de votre
        compte peut entraîner la perte permanente de certaines données et ne pourra pas être annulée.
        Droits réservés : Nous nous réservons le droit de conserver certaines informations conformément à nos
        obligations légales ou pour des raisons commerciales légitimes, même après la suppression de votre compte.
        Questions supplémentaires : Si vous avez des questions ou des préoccupations concernant la désinscription ou la
        suppression de votre compte, veuillez nous contacter à l'adresse indiquée ci-dessus.
    </p>
</div>