<div class="title-container flex align-items-center">
    <img routerLink="legal-pages" title="retour à la page contact et légalité" src="assets\icons\turn-back.png" alt="retour à la page contact et légalité">
    <h1>Politique de confidentialité</h1>
</div>

<div class="container">
    <p>Cette Politique de confidentialité décrit la manière dont Systeme Sco-laire collecte, utilise et protège les
        informations personnelles des utilisateurs, y compris les parents, les enseignants et les élèves, qui utilisent
        notre site web.
    </p>

    <p> Collecte d'informations personnelles
        Lorsque vous vous inscrivez sur notre site ou que vous interagissez avec nous, nous pouvons collecter les types
        d'informations personnelles suivants :
        Informations d'identification (nom, adresse e-mail, etc.)</p>

    <p>Informations de connexion (identifiants de compte, mot de passe, etc.)

        Informations sur l'école et la classe associées à votre compte
        Utilisation des informations
        Nous utilisons les informations personnelles collectées pour les finalités suivantes :
        Fournir des fonctionnalités et des services personnalisés sur notre site
        Communiquer avec vous et répondre à vos demandes
        Gérer votre compte utilisateur et vous fournir un accès sécurisé à nos services
        Améliorer et personnaliser votre expérience utilisateur
        Envoyer des notifications et des mises à jour relatives à votre école et à votre classe
        Assurer la sécurité et l'intégrité de nos systèmes
        Protection des informations
        Nous nous engageons à protéger les informations personnelles que vous nous fournissez.</p>

    <p> Nous mettons en œuvre des
        mesures de sécurité techniques et organisationnelles appropriées pour protéger vos informations contre tout
        accès
        non autorisé, toute divulgation ou toute altération.</p>

    <p> Nous mettons en œuvre des
        mesures de sécurité techniques et organisationnelles appropriées pour protéger vos informations contre tout
        accès
        non autorisé, toute divulgation ou toute altération.
    </p>

    <p> Partage des informations
        Nous ne partageons vos informations personnelles qu'avec des tiers dans les circonstances suivantes :
        Avec votre consentement explicite
        Lorsque cela est nécessaire pour fournir nos services conformément à nos obligations contractuelles
        Lorsque requis par la loi ou pour répondre à des demandes légales
        Vos droits
        Vous avez le droit d'accéder à vos informations personnelles, de les corriger, de les mettre à jour ou de les
        supprimer à tout moment.
        Vous pouvez également vous opposer au traitement de vos informations personnelles dans
        certaines circonstances.</p>

    <p> Cookies et technologies similaires
        Nous utilisons des cookies et d'autres technologies similaires pour améliorer la fonctionnalité de notre site
        web,
        analyser les tendances, administrer le site et suivre les mouvements des utilisateurs autour du site.</p>

    <p> Modifications de la politique de confidentialité
        Nous pouvons mettre à jour cette Politique de confidentialité de temps à autre.
        Nous vous encourageons à consulter
        régulièrement cette page pour vous informer des modifications éventuelles.
    </p>

    <p> Contactez-nous
        Si vous avez des questions concernant cette Politique de confidentialité ou nos pratiques en matière de
        confidentialité, veuillez nous contacter à l'adresse suivante : john.
        doe@gmail.
        com.</p>
</div>