.userName, .school, .classroom, .contact {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.complemetaryInfo ,.school, .classroom, .contact {
    flex: 1;
}

h2, h3 {
    color: #B10087;
    font-size: 24px;
}

.userName {
    width: 50%;
    color: #B10087;
}
.profileImg{
    width: 100%;
}

.modifyIcon {
    width: 50px;
    height: 50px;
}

.legalPageButton {
    background-color: white;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .profileContainer {
        flex-direction: column;
    }

    .userName {
        width: 100%;
        background: none;
        color: #F7D1F6;
    }

    .userName h2{
        margin-top: 15px;
        color: #F7D1F6;
    }
}