.containerForm {
    margin-top: 130px !important;
    margin: auto;
    color: white;
    background: linear-gradient(90deg, rgba(51, 50, 192, 1) 0%, rgba(2, 2, 8, 1) 100%);
    border-radius: 20px;
    width: 70%;
    font-size: 20px;
}

form {
    width: 100%;
}

h2 {
    font-size: 40px;
}

input {
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

label {
    margin-bottom: 20px;
}

.auth-input {
    width: 70%;
}

.global-button {
    width: 70%;
    height: 45px;
}

a {
    font-size: 20px;
    color: #F7D1F6;
    margin-bottom: 30px;
}

@media (max-width: 1050px) {
    .containerForm {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .containerForm {
        margin-top: 30px !important;
    }
    
    .auth-input {
        width: 90%;
    }
}