<div class="title-container flex align-items-center">
    <img routerLink="/legal-pages" title="retour à la page contact et légalité" src="assets\icons\turn-back.png" alt="retour à la page contact et légalité">
    <h1>Politique relative aux cookies</h1>
</div>

<div class="container">
    <p>Cette Politique relative aux cookies explique comment Systeme Sco-laire utilise les cookies et autres technologies similaires pour collecter et stocker des informations lorsque vous visitez notre site web.
        Qu'est-ce qu'un cookie ?
        Un cookie est un petit fichier texte placé sur votre ordinateur ou appareil mobile lorsque vous visitez un site web. Les cookies permettent au site web de reconnaître votre appareil lors de vos visites ultérieures.
        Types de cookies utilisés
        Nous utilisons les types de cookies suivants sur notre site :
        Cookies indispensables : Ces cookies sont essentiels pour vous permettre de naviguer sur notre site et d'utiliser ses fonctionnalités. Ils sont nécessaires pour assurer la sécurité et l'intégrité de notre site.
        Cookies de performance : Ces cookies collectent des informations sur la manière dont les visiteurs utilisent notre site, par exemple les pages les plus visitées ou les messages d'erreur rencontrés. Ces cookies nous aident à améliorer le fonctionnement de notre site.
        Cookies de fonctionnalité : Ces cookies permettent au site web de se souvenir des choix que vous faites (comme votre nom d'utilisateur, votre langue ou votre région) et fournissent des fonctionnalités améliorées et plus personnelles.
        Consentement aux cookies
        En utilisant notre site, vous consentez à l'utilisation des cookies conformément à cette Politique relative aux cookies. Vous pouvez contrôler et gérer les cookies via les paramètres de votre navigateur.
        Gestion des cookies
        La plupart des navigateurs web vous permettent de contrôler les cookies via leurs paramètres. Vous pouvez généralement configurer votre navigateur pour refuser les cookies ou vous alerter lorsque des cookies sont envoyés. Cependant, veuillez noter que la désactivation des cookies peut affecter votre expérience sur notre site et limiter certaines fonctionnalités.
        Modifications de la politique relative aux cookies
        Nous pouvons mettre à jour cette Politique relative aux cookies de temps à autre pour refléter les changements dans nos pratiques de cookies. Nous vous encourageons à consulter régulièrement cette page pour vous informer des modifications éventuelles.
        Contactez-nous
        Si vous avez des questions concernant notre Politique relative aux cookies, veuillez nous contacter à l'adresse suivante : john.doe@gmail.</p>
</div>